{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
        <div id="signup-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">
                    <form id="login-form" class="form" enctype="multipart/form-data" action="{% url 'users:settings' %}"
                          method="post">
                        {% csrf_token %}
                        <h3 class="text-center text-info">Settings</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Username:</label><br>
                            <div id="username">{{ user.username }}</div>
                        </div>
                        <div class="form-group">
                            <label for="email" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control" value={{ user.email }}>
                            {% if form.email.errors %}
                                <div class="text-danger">
                                    {{ form.email.errors }}
                                </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            <label for="avatar" class="text-info">Avatar:</label><br>
                            {% if user.avatar %}
                                <img alt="Avatar" src="{{ user.avatar.url }}" width="100" height="100">
                            {% else %}
                                <img alt="Avatar" src="{% static 'avatars/default/avatar.png' %}" width="100" height="100">
                            {% endif %}
                            <input type="file" name="avatar" class="file" accept="image/*">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="submit" class="btn btn-info btn-md" value="Save">
                        </div>
                    </form>
                    {% if form.non_field_errors %}
                        <div class="text-danger">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}