{% load static %}
<header class="navbar navbar-dark bg-dark mb-3">
    <a class="navbar-brand" href="{% url 'questions:index' %}">Hasker</a>
    <form class="form-inline" method="get" action="{% url "questions:search" %}">
        <input name="s" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <div class="action-buttons">
        {% if user.is_authenticated %}
            {% if user.avatar %}
                <img alt="Avatar" src="{{ user.avatar.url }}" width="32" height="32">
            {% else %}
                <img alt="Avatar" src="{% static 'avatars/default/avatar.png' %}" width="32" height="32">
            {% endif %}
            <a href="{{ user.url }} ">{{ user.username }}</a>
            <a href="{% url "users:logout" %}" class="btn btn-primary">Log out</a>
        {% else %}
            <a href="{% url 'users:login' %}" class="nav-item">Log in</a>
            <a type="button" class="btn btn-primary" href="{% url 'users:signup' %}">Sign Up</a>
        {% endif %}
    </div>
</header>
